extends ../../layouts/default

block content
  h1= title

  if req && req.user

    ul.friends-list
      each user in friends
        li
          friend-badge(data-uid=user.uid, data-firstname=user.firstname, data-lastname=user.lastname, data-profile-pic=user.profilePic)

  else
    p You will be escorted out
