header.top-bar(ng-controller="tooltipsController as tooltipsCtrl")
  div.wrapper
    div.top-bar-left
      ul.dropdown.menu(data-dropdown-menu, data-disable-hover="true")
        li.menu-text
          a(href="/") JS net

        if req && req.user

          li
            div.input-group
              angucomplete-alt.input-group-field(
                id="q",
                placeholder="Rechercher des amis",
                pause="100",
                selected-object="selectedObjectCallback",
                remote-url="/q?q=",
                remote-url-data-field="results",
                title-field="name",
                match-class="highlight",
                description-field="email",
                input-class="input-group-field"
              )

              button.input-group-button.button(type="submit", style="width:50px;")
                i.fa.fa-search

          li
            a(href="/profile", tooltip="{{tooltipsCtrl.header.profile}}", tooltip-placement="bottom")
              = req.user.firstname + ' ' + req.user.lastname
          li
            a(tooltip="{{tooltipsCtrl.header.invitations}}", tooltip-placement="bottom")
             i.fa.fa-user-circle-o

          li
            a(tooltip="{{tooltipsCtrl.header.messages}}", tooltip-placement="bottom")
             i.fa.fa-comments

          li
            a(tooltip="{{tooltipsCtrl.header.params}}", tooltip-placement="bottom")
              i.fa.fa-cog

            ul.menu.vertical
              li
                a(href="/profile") Profile
              li
                a(href="/logout") Déconnexion

        unless req && req.user
          li
            a(href="/login") Connexion
          li
            a(href="/signup") Inscription

    //- div.top-bar-right
    //-   if req && req.user
    //-     ul.menu
    //-       li
    //-         input(type="search", placeholder="Search")
    //-       li
    //-         button(type="button", class="button") Search
