header.top-bar(ng-controller="tooltipsController as tooltipsCtrl")
  div.wrapper
    div.top-bar-left
      ul.dropdown.menu(data-dropdown-menu, data-disable-hover="true")
        li.menu-text
          a(href="/") JS net

        if req && req.user

          li(ng-controller="searchController as searchCtrl")
            div.input-group.search-box
              angucomplete-alt.input-group-field(
                id="q",
                placeholder="Rechercher des amis",
                pause="100",
                selected-object="searchCtrl.selectedObjectCallback",
                remote-url="/q?q=",
                remote-url-data-field="results",
                title-field="firstname,lastname",
                match-class="highlight",
                input-class="input-group-field",
                minlength="1",
                clear-selected="true"
              )

              button.input-group-button.button(type="submit", style="width:50px;")
                i.fa.fa-search

          li
            a(href="/user/" + req.user.uid, tooltip="{{tooltipsCtrl.header.profile}}", tooltip-placement="bottom")
              img.profile-pic(src=req.user.profilePic, alt="")
              = req.user.firstname + ' ' + req.user.lastname
          li
            a(href="/invitations", tooltip="{{tooltipsCtrl.header.invitations}}", tooltip-placement="bottom")
             i.fa.fa-user-circle-o

          li
            a(tooltip="{{tooltipsCtrl.header.messages}}", tooltip-placement="bottom")
             i.fa.fa-comments

          li
            a
              i.fa.fa-cog

            ul.menu.vertical
              li
                a(href="/profile") Mon compte
              li
                a(href="/logout") Déconnexion

        unless req && req.user
          li
            a(href="/login") Connexion
          li
            a(href="/signup") Inscription

    //- div.top-bar-right
    //-   if req && req.user
    //-     ul.menu
    //-       li
    //-         input(type="search", placeholder="Search")
    //-       li
    //-         button(type="button", class="button") Search
