//- div.title-bar(data-responsive-toggle="main-menu", data-hide-for="medium")
//-   button.menu-icon(type="button", data-toggle)
//-   div.title-bar-title Menu

header.top-bar(ng-controller="TopBarController as TopBarCtrl", id="main-menu")
  div.wrapper
    div.top-bar-left
      ul.menu
        li.menu-text
          a(href="/")
            img(src="/images/logo.png", width="60", height="60")


        unless req && req.user
          li.signup-button
            a.button.success(href="/signup") Créer un compte
          li
            a.button(href="/login") Connexion


        if req && req.user

          li(ng-controller="searchController as searchCtrl")
            div.input-group.search-box
              angucomplete-alt.input-group-field(
                id="q",
                placeholder="Rechercher des amis",
                pause="100",
                selected-object="searchCtrl.selectedObjectCallback",
                remote-url="/q?q=",
                remote-url-data-field="results",
                title-field="firstname,lastname",
                match-class="highlight",
                input-class="input-group-field",
                minlength="1",
                clear-selected="true",
                u="Recherche en cours...",
                v="Aucun résultat"
              )

              button.input-group-button.button(type="submit", style="width:50px;")
                i.fa.fa-search


    div.top-bar-right

      ul.dropdown.menu(data-dropdown-menu, data-disable-hover="true")

        if req && req.user

          li.user-profile
            a(href="/user/" + req.user.uid, tooltip="{{TopBarCtrl.header.profile}}", tooltip-placement="bottom", tooltip-popup-delay="300")
              div.profile-pic(style="background-image: url('" + req.user.profilePic + "')")
              = req.user.firstname + ' ' + req.user.lastname

          li
            a(href="/invitations", tooltip="{{TopBarCtrl.header.invitations}}", tooltip-placement="bottom", tooltip-popup-delay="300")
             i.icon.fi-torsos-male-female

          li
            a(href="/messages", tooltip="{{TopBarCtrl.header.messages}}", tooltip-placement="bottom", tooltip-popup-delay="300")
             i.icon.fi-comments

          li
            a
              i.icon.fi-widget

            ul.menu.vertical
              li
                a(href="/profile") Mon compte
              li
                a(href="/logout") Déconnexion



    //- div.top-bar-right
    //-   if req && req.user
    //-     ul.menu
    //-       li
    //-         input(type="search", placeholder="Search")
    //-       li
    //-         button(type="button", class="button") Search
