
form(ng-controller="pictureUploadController as pictureUploadCtrl" name="pictureUploadCtrl.ImageUploadform")

  input(
     type="file",
     ngf-select,
     ng-model="pictureUploadCtrl.file",
     name="file",
     ngf-pattern="'image/*'",
     accept="image/*",
     ngf-max-size="5MB"
  )

  label Image thumbnail:
  img(ngf-thumbnail="pictureUploadCtrl.file || '/thumb.jpg'")
  i(ng-show="pictureUploadCtrl.upload_form.file.$error.required") required
  i(ng-show="pictureUploadCtrl.upload_form.file.$error.maxSize") File too large {{pictureUploadCtrl.file.size / 1000000|number:1}}MB: max 20M

  button(type="submit", ng-click="pictureUploadCtrl.submitUpload()") submit
  p {{pictureUploadCtrl.progress}}


div(ng-controller="profileController as profileCtrl")

  form(method="post", name="profileCtrl.profileForm", ng-submit="profileCtrl.profileForm.$valid && profileCtrl.save()", novalidate)

    div.row
      div.small-12.columns
        label(for="about") Votre description
        textarea(id="about", name="about", required="required", ng-model="profileCtrl.formData.about") =formData.about
        div(ng-messages="profileCtrl.profileForm.about.$error", ng-if="profileCtrl.profileForm.about.$dirty", role="alert")
          p.callout.alert(ng-message="required") Veuillez saisir une description.

    // -
      div.row
        div.small-12.columns
          ="Date de naissance"
          div.row
            div.small-4.columns
              select(id="birthday", name="birthday", required="required")
                each val in days
                  option(value=val)= val
            div.small-4.columns
              select(id="birthmonth", name="birthmonth", required="required")
                each val, index in months
                  option(value=index)= val
            div.small-4.columns
              select(id="birthyear", name="birthyear", required="required")
                each val in years
                  option(value=val)= val


    div.row
      div.small-12.columns
        input.button.expanded.success(type="submit", value="Enregistrer" ng-disabled="profileCtrl.profileForm.$invalid")
