if req && req.user
  section.user-header
    h1= user.firstname + ' ' + user.lastname

    //img(src="user")

    if user.uid != req.user.uid
      button-add-friend(data-uid=user.uid, data-friendship-status=user.friendshipStatus, data-action=user.addButtonAction)
      div(ng-controller="chatRequestController as chatRequestCtrl")
        button.button(ng-click="chatRequestCtrl.request('" + req.user.uid + "', '" + user.uid + "')")
          i.fa.fa-comment
          = " Discussion instantanée"

  nav.expanded.button-group
    a.button(href=user.userUrl) Journal
    a.button(href=user.userUrl + '/about') À propos
    a.button(href=user.userUrl + '/friends') Amis
