extends ../../layouts/adminDashboard

block angularControllers
  script(src="/javascripts/admin/user-delete-directive.js")

block content

  h1= title

  div.row.expanded

    div.small-4.columns
      h2 Membres
      table
        tbody
          tr
            td membres
            td= userStats.total
          tr
            td membres confirmés
            td= userStats.confirmed
          tr
            td membres en attente de confirmation
            td= userStats.awaitingConfirmation

    div.small-4.columns
      h2 Messages
      tr
        td membres
        td= userStats.total
      tr
        td membres confirmés
        td= userStats.confirmed
      tr
        td membres en attente de confirmation
        td= userStats.awaitingConfirmation

    div.small-4.columns
      h3

  h2= "5 nouveaux membres "
    small
      a(href="/admin/users") voir tous les membres
  include ../../includes/admin/userTable.pug

  div.row.expanded
    section.small-12.columns
      include ../../includes/public/column.pug
